<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Chat Page</title>
</head>
<body>
<form th:object="${newChatMessage}" th:action="@{/chat}" action="#" method="POST">
    <label for="messageText">Message Text:</label>
    <input th:field="*{messageText}" id="messageText" type="text">
    <label for="messageType">Message Type: </label>
    <select th:field="*{modeSelection}" id="messageType">
        <option th:value="say" selected>Say</option>
        <option th:value="shout">Shout</option>
        <option th:value="whisper">Whisper</option>
    </select>
    <input type="submit" id="submit-button">
</form>

<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout" id="logout-button">
</form>

<h1 th:each="msg : ${chatMessages}"
    th:text="${msg.getUsername() + ': ' + msg.getMessagetext()}"
    th:unless="${msg.getMessagetext().contains('Shite')}"
    id="chat-messages"
>Hello, Welcome to Chat Page!</h1>
</body>
</html>